:root {
  --color-1:rgb(210, 210, 210);
  --color-2:rgb(246, 246, 246);
  --color-3:rgb(30, 30, 30);
  --color-4:rgb(67, 67, 67);
}

body {
  font-family: "Noto Sans JP", sans-serif;
  font-feature-settings: "palt";
  letter-spacing: 0.03em;
  line-height: 1.3;
}

:-webkit-autofill {
  box-shadow: 0 0 0px 1000px white inset;
}

input,
textarea,
select {
  background-color: var(--color-2);
  field-sizing: content;
}

textarea {
  resize: vertical;
}

select {
  cursor: pointer;
  min-height: 1vw;
  -webkit-appearance: auto;
     -moz-appearance: auto;
          appearance: auto;
}

input::-webkit-calendar-picker-indicator {
  cursor: pointer;
}

.editable + .error-message,
.editable .error-message,
.editable-checkbox + .error-message,
.editable-checkbox .error-message {
  color: red;
  font-size: max(8px, 0.585vw);
}

.editable-checkbox {
  display: flex;
  flex-wrap: wrap;
  gap: 0 0.5vw;
}
.editable-checkbox label {
  display: flex;
  align-items: center;
  gap: 0.2vw;
  cursor: pointer;
}

.loading-spinner {
  margin-left: 0.5vw;
  display: inline-block;
  vertical-align: middle;
  width: 1vw;
  height: -moz-fit-content;
  height: fit-content;
  aspect-ratio: 1/1;
  border-radius: 50%;
  border: solid 1px var(--color-1);
  border-top-color: var(--color-3);
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.is-scroll-contents {
  overflow: scroll;
  overflow-y: clip;
}
.is-scroll-contents::-webkit-scrollbar {
  width: 0.5vw;
  height: 0.5vw;
  border-radius: 10vw;
}
.is-scroll-contents::-webkit-scrollbar-thumb {
  border-radius: 10vw;
  background-color: rgb(140, 140, 140);
  cursor: grab;
}

.is-flex-list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.7vw;
}

.custom-alert {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999999999;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.137);
  display: flex;
  justify-content: center;
  align-items: center;
}
.custom-alert__inner {
  padding: 2vw;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 2vw;
  animation: fadeIn 0.3s ease;
  background-color: #fff;
  border-radius: 0.5vw;
}
.custom-alert__inner > p {
  font-size: max(14px, 1.025vw);
  font-weight: bold;
}
.custom-alert__inner > p.success {
  color: #178731;
}
.custom-alert__inner > p.error {
  color: #9f1825;
}
.custom-alert__inner > button {
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.5vw 1vw !important;
  border-radius: 0.3vw !important;
  font-size: max(12px, 0.878vw);
  background-color: var(--color-3);
  border: solid 1px var(--color-3);
  color: #fff;
  transition: 0.3s ease;
}
@media (hover: hover) {
  .custom-alert__inner > button:hover {
    background-color: #fff !important;
    color: var(--color-3) !important;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-1vw);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.p-matter {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}
.p-matter__left, .p-matter__right {
  padding: 2vw;
  position: sticky;
  top: 0;
  height: 100vh;
}
.p-matter__left > p {
  font-size: max(14px, 1.025vw);
}
.p-matter__right form {
  font-size: max(14px, 1.025vw);
}
.p-matter__right form .select-wrap {
  display: flex;
  align-items: flex-end;
  gap: 1vw;
  padding-bottom: 0.5vw;
}
.p-matter__right form .select-wrap > p {
  font-size: max(12px, 0.878vw);
}
.p-matter__right form .select-wrap select {
  padding: 0.2vw 1vw;
  background-color: rgb(240, 240, 240);
  border-radius: 0.3vw;
}
.p-matter__right form .input-wrap {
  display: flex;
  gap: 0.2vw;
  padding: 0.5vw 1vw;
  border: solid 1px rgb(177, 177, 177);
  border-radius: 100vw;
}
.p-matter__right form .input-wrap img {
  opacity: 0.5;
  width: 1.1vw;
}
.p-matter__right form .input-wrap input {
  background-color: transparent;
  field-sizing: fixed;
}
.p-matter__center {
  border-right: solid 1px rgb(228, 228, 228);
  border-left: solid 1px rgb(228, 228, 228);
}
.p-matter__center__record-list__item {
  padding: 1.5vw;
  border-bottom: solid 1px rgb(228, 228, 228);
}
.p-matter__center__record-list__item__main {
  width: 100%;
}
.p-matter__center__record-list__item__main__heading {
  display: flex;
  justify-content: space-between;
  gap: 1vw;
}
.p-matter__center__record-list__item__main__heading__left {
  flex-shrink: 0;
  display: flex;
  gap: 1vw;
}
.p-matter__center__record-list__item__main__heading__left > span {
  width: 4vw;
  height: -moz-fit-content;
  height: fit-content;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: rgb(235, 235, 235);
  display: flex;
  justify-content: center;
  align-items: center;
}
.p-matter__center__record-list__item__main__heading__left > span img {
  width: 30%;
}
.p-matter__center__record-list__item__main__heading__left__texts__name > p:nth-of-type(1) {
  font-size: max(8px, 0.585vw);
}
.p-matter__center__record-list__item__main__heading__left__texts__name > p:nth-of-type(2) {
  font-size: max(16px, 1.17vw);
  font-weight: 600;
  line-height: 1;
}
.p-matter__center__record-list__item__main__heading__left__texts__number {
  padding-top: 0.5vw;
}
.p-matter__center__record-list__item__main__heading__left__texts__number > p {
  font-size: max(12px, 0.878vw);
}
.p-matter__center__record-list__item__main__heading__right {
  display: flex;
  gap: 2vw;
}
.p-matter__center__record-list__item__main__heading__right__status {
  display: flex;
  gap: 1vw;
}
.p-matter__center__record-list__item__main__heading__right__status__item {
  display: flex;
  font-size: max(12px, 0.878vw);
  display: flex;
  flex-direction: column;
}
.p-matter__center__record-list__item__main__heading__right__status__item > span {
  opacity: 0.5;
  font-size: max(10px, 0.732vw);
}
.p-matter__center__record-list__item__main__heading__right__number > p {
  font-size: max(10px, 0.732vw);
  opacity: 0.6;
}
.p-matter__center__record-list__item__main__contents {
  padding-top: 1.5vw;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1.5vw;
}
.p-matter__center__record-list__item__main__contents__left {
  border-right: solid 1px rgb(228, 228, 228);
  padding-right: 1.5vw;
  width: 100%;
  position: relative;
}
.p-matter__center__record-list__item__main__contents__left__tab__btn {
  display: flex;
  flex-wrap: wrap;
  gap: 0.2vw;
}
.p-matter__center__record-list__item__main__contents__left__tab__btn li {
  font-size: max(10px, 0.732vw);
  font-weight: 500;
  padding: 0.7vw 1vw;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
  background-color: rgb(95, 95, 95);
  color: #fff;
  border-radius: 0.4vw;
}
.p-matter__center__record-list__item__main__contents__left__tab__btn li.is-active {
  background-color: var(--color-3);
}
.p-matter__center__record-list__item__main__contents__left__tab__panels {
  padding-top: 0.5vw;
}
.p-matter__center__record-list__item__main__contents__left__tab__panels__item {
  display: none;
}
.p-matter__center__record-list__item__main__contents__left__tab__panels__item.is-active {
  display: inline-block;
}
.p-matter__center__record-list__item__main__contents__left__tab__panels__item__panel {
  display: none;
}
.p-matter__center__record-list__item__main__contents__left__tab__panels__item__panel.is-active {
  display: inline-block;
}
.p-matter__center__record-list__item__main__contents__left__tab__panels__item__panel > table {
  table-layout: fixed;
  width: 100%;
}
.p-matter__center__record-list__item__main__contents__left__tab__panels__item__panel > table tr th,
.p-matter__center__record-list__item__main__contents__left__tab__panels__item__panel > table tr td {
  font-size: max(12px, 0.878vw);
  width: -webkit-fill-available;
  width: -moz-available;
  width: fill-available;
  padding: 1vw 0 1vw 0;
  border-bottom: solid 1px rgb(240, 240, 240);
}
.p-matter__center__record-list__item__main__contents__left__tab__panels__item__panel > table tr th:first-child,
.p-matter__center__record-list__item__main__contents__left__tab__panels__item__panel > table tr td:first-child {
  width: 22%;
  padding-right: 1vw;
  padding-left: 0;
  font-weight: bold;
}
.p-matter__center__record-list__item__main__contents__left__tab__panels__item__panel > table tr th table,
.p-matter__center__record-list__item__main__contents__left__tab__panels__item__panel > table tr td table {
  width: 100%;
}
.p-matter__center__record-list__item__main__contents__left__tab__panels__item__panel > table tr th table tr:first-child th,
.p-matter__center__record-list__item__main__contents__left__tab__panels__item__panel > table tr th table tr:first-child td,
.p-matter__center__record-list__item__main__contents__left__tab__panels__item__panel > table tr td table tr:first-child th,
.p-matter__center__record-list__item__main__contents__left__tab__panels__item__panel > table tr td table tr:first-child td {
  padding-top: 0;
}
.p-matter__center__record-list__item__main__contents__left__tab__panels__item__panel > table tr th table tr:last-child th,
.p-matter__center__record-list__item__main__contents__left__tab__panels__item__panel > table tr th table tr:last-child td,
.p-matter__center__record-list__item__main__contents__left__tab__panels__item__panel > table tr td table tr:last-child th,
.p-matter__center__record-list__item__main__contents__left__tab__panels__item__panel > table tr td table tr:last-child td {
  padding-bottom: 0;
  border-bottom: none;
}
.p-matter__center__record-list__item__main__contents__left__tab__panels__item__panel > table tr th table tr th,
.p-matter__center__record-list__item__main__contents__left__tab__panels__item__panel > table tr th table tr td,
.p-matter__center__record-list__item__main__contents__left__tab__panels__item__panel > table tr td table tr th,
.p-matter__center__record-list__item__main__contents__left__tab__panels__item__panel > table tr td table tr td {
  padding-left: 0;
}
.p-matter__center__record-list__item__main__contents__left__tab__panels__item__panel > table tr th table tr th:first-child,
.p-matter__center__record-list__item__main__contents__left__tab__panels__item__panel > table tr th table tr td:first-child,
.p-matter__center__record-list__item__main__contents__left__tab__panels__item__panel > table tr td table tr th:first-child,
.p-matter__center__record-list__item__main__contents__left__tab__panels__item__panel > table tr td table tr td:first-child {
  font-weight: normal;
  width: 20%;
}
.p-matter__center__record-list__item__main__contents__left__tab__panels__item__panel > table tr th table.is-portal,
.p-matter__center__record-list__item__main__contents__left__tab__panels__item__panel > table tr td table.is-portal {
  writing-mode: vertical-lr;
  background-color: var(--color-2);
}
.p-matter__center__record-list__item__main__contents__left__tab__panels__item__panel > table tr th table.is-portal tr:nth-of-type(2n),
.p-matter__center__record-list__item__main__contents__left__tab__panels__item__panel > table tr td table.is-portal tr:nth-of-type(2n) {
  background-color: #efefef;
}
.p-matter__center__record-list__item__main__contents__left__tab__panels__item__panel > table tr th table.is-portal tr th,
.p-matter__center__record-list__item__main__contents__left__tab__panels__item__panel > table tr th table.is-portal tr td,
.p-matter__center__record-list__item__main__contents__left__tab__panels__item__panel > table tr td table.is-portal tr th,
.p-matter__center__record-list__item__main__contents__left__tab__panels__item__panel > table tr td table.is-portal tr td {
  writing-mode: horizontal-tb;
  padding: 0.7vw;
  width: 10vw;
  border-bottom: solid 1px #fff !important;
  vertical-align: middle;
}
.p-matter__center__record-list__item__main__contents__left__tab__panels__item__panel > table tr th table.is-portal tr th input,
.p-matter__center__record-list__item__main__contents__left__tab__panels__item__panel > table tr th table.is-portal tr th textarea,
.p-matter__center__record-list__item__main__contents__left__tab__panels__item__panel > table tr th table.is-portal tr th select,
.p-matter__center__record-list__item__main__contents__left__tab__panels__item__panel > table tr th table.is-portal tr td input,
.p-matter__center__record-list__item__main__contents__left__tab__panels__item__panel > table tr th table.is-portal tr td textarea,
.p-matter__center__record-list__item__main__contents__left__tab__panels__item__panel > table tr th table.is-portal tr td select,
.p-matter__center__record-list__item__main__contents__left__tab__panels__item__panel > table tr td table.is-portal tr th input,
.p-matter__center__record-list__item__main__contents__left__tab__panels__item__panel > table tr td table.is-portal tr th textarea,
.p-matter__center__record-list__item__main__contents__left__tab__panels__item__panel > table tr td table.is-portal tr th select,
.p-matter__center__record-list__item__main__contents__left__tab__panels__item__panel > table tr td table.is-portal tr td input,
.p-matter__center__record-list__item__main__contents__left__tab__panels__item__panel > table tr td table.is-portal tr td textarea,
.p-matter__center__record-list__item__main__contents__left__tab__panels__item__panel > table tr td table.is-portal tr td select {
  background-color: #fff;
}
.p-matter__center__record-list__item__main__contents__left__tab__panels__item__panel > table tr th table.is-portal tr th,
.p-matter__center__record-list__item__main__contents__left__tab__panels__item__panel > table tr td table.is-portal tr th {
  width: 6vw;
  position: sticky;
  left: 0;
  background-color: #fff;
  font-weight: normal;
  background-color: var(--color-4);
  color: #fff;
  font-size: max(10px, 0.732vw);
}
.p-matter__center__record-list__item__main__contents__left__tab__panels__item__panel > table tr th input,
.p-matter__center__record-list__item__main__contents__left__tab__panels__item__panel > table tr th textarea,
.p-matter__center__record-list__item__main__contents__left__tab__panels__item__panel > table tr th select,
.p-matter__center__record-list__item__main__contents__left__tab__panels__item__panel > table tr td input,
.p-matter__center__record-list__item__main__contents__left__tab__panels__item__panel > table tr td textarea,
.p-matter__center__record-list__item__main__contents__left__tab__panels__item__panel > table tr td select {
  padding: 0 0.3vw;
  min-width: 30%;
}
.p-matter__center__record-list__item__main__contents__left__tab__panels__item__panel > table tr th input[type=checkbox],
.p-matter__center__record-list__item__main__contents__left__tab__panels__item__panel > table tr th textarea[type=checkbox],
.p-matter__center__record-list__item__main__contents__left__tab__panels__item__panel > table tr th select[type=checkbox],
.p-matter__center__record-list__item__main__contents__left__tab__panels__item__panel > table tr td input[type=checkbox],
.p-matter__center__record-list__item__main__contents__left__tab__panels__item__panel > table tr td textarea[type=checkbox],
.p-matter__center__record-list__item__main__contents__left__tab__panels__item__panel > table tr td select[type=checkbox] {
  min-width: auto;
}
.p-matter__center__record-list__item__main__contents__left__tab__panels__item__panel > table tr th textarea,
.p-matter__center__record-list__item__main__contents__left__tab__panels__item__panel > table tr td textarea {
  width: -webkit-fill-available;
  width: -moz-available;
  width: fill-available;
  min-height: 4vw;
}
.p-matter__center__record-list__item__main__contents__left__tab__panels__item__panel > table tr th button,
.p-matter__center__record-list__item__main__contents__left__tab__panels__item__panel > table tr td button {
  padding: 0.3vw 1vw;
  border-radius: 100vw;
  border: solid 1px var(--color-3);
  font-size: max(10px, 0.732vw);
  transition: 0.3s ease;
}
@media (hover: hover) {
  .p-matter__center__record-list__item__main__contents__left__tab__panels__item__panel > table tr th button:hover,
  .p-matter__center__record-list__item__main__contents__left__tab__panels__item__panel > table tr td button:hover {
    background-color: var(--color-3);
    color: #fff;
  }
}
.p-matter__center__record-list__item__main__contents__right {
  display: flex;
  flex-direction: column;
  gap: 2vw;
}
.p-matter__center__record-list__item__main__contents__right__tab__panel {
  padding-top: 1vw;
}
.p-matter__center__record-list__item__main__contents__right__tab__panel > * {
  display: none;
  font-size: max(12px, 0.878vw);
  width: 100%;
  min-height: 20vw;
}
.p-matter__center__record-list__item__main__contents__right__tab__panel > *.is-active {
  display: table;
}
.p-matter__center__record-list__item__main__contents__right__tab__panel__info > *:not(:first-child) {
  margin-top: 1vw;
}
.p-matter__center__record-list__item__main__contents__right__tab__panel__info__link {
  padding: 1vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5vw;
  border: solid 1px var(--color-3);
  border-radius: 0.3vw;
  background-color: var(--color-3);
  color: #fff;
  transition: 0.3s ease;
}
.p-matter__center__record-list__item__main__contents__right__tab__panel__info__link.is-empty {
  pointer-events: none;
  background-color: #fff;
  color: var(--color-3);
}
.p-matter__center__record-list__item__main__contents__right__tab__panel__info__link > p {
  font-size: max(12px, 0.878vw);
}
.p-matter__center__record-list__item__main__contents__right__tab__panel__info__link i {
  font-size: max(8px, 0.585vw);
}
@media (hover: hover) {
  .p-matter__center__record-list__item__main__contents__right__tab__panel__info__link:hover {
    background-color: #fff;
    color: var(--color-3);
  }
}
.p-matter__center__record-list__item__main__contents__right__tab__panel__info table {
  flex-shrink: 0;
  height: -moz-fit-content;
  height: fit-content;
  table-layout: fixed;
  width: 100%;
}
.p-matter__center__record-list__item__main__contents__right__tab__panel__info table tr td {
  font-size: max(10px, 0.732vw);
  line-height: 1.3;
  word-break: break-word;
  padding-bottom: 0.3vw;
}
.p-matter__center__record-list__item__main__contents__right__tab__panel__info table tr td:first-child {
  width: 35%;
  padding-right: 1vw;
}
.p-matter__center__record-list__item__main__contents__right__tab__panel__info table tr td input,
.p-matter__center__record-list__item__main__contents__right__tab__panel__info table tr td select,
.p-matter__center__record-list__item__main__contents__right__tab__panel__info table tr td textarea {
  display: flex;
  width: 100%;
  padding: 0 0.2vw;
}
.p-matter__center__record-list__item__main__contents__right__tab__panel__info table tr td textarea {
  min-height: 2vw;
}
.p-matter__center__record-list__item__main__contents__right__tab__panel__info table tr td .editable-checkbox {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 0.2vw;
}
.p-matter__center__record-list__item__main__contents__right__tab__panel__info table tr td .editable-checkbox label {
  display: flex;
  gap: 0.2vw;
}
.p-matter__center__record-list__item__main__contents__right__tab__panel__info table tr td .editable-checkbox label input {
  width: -moz-fit-content;
  width: fit-content;
}
.p-matter__center__record-list__item__main__contents .tab-btn {
  display: flex;
  flex-wrap: wrap;
  gap: 0.3vw;
}
.p-matter__center__record-list__item__main__contents .tab-btn li {
  font-size: max(10px, 0.732vw);
  font-weight: 500;
  padding: 0.2vw 1vw;
  border: solid 1px var(--color-1);
  border-radius: 100vw;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
}
.p-matter__center__record-list__item__main__contents .tab-btn li.is-active {
  border-color: var(--color-3);
}
.p-matter__center .loading {
  width: 100%;
  padding: 5vw;
  text-align: center;
}

.p-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: sans-serif;
}
.p-login__panel {
  padding: 4vw 3vw;
  border-radius: 2vw;
  border: solid 1px var(--color-1);
  width: 30vw;
  min-width: 400px;
}
.p-login__panel__heading {
  display: flex;
  flex-direction: column;
  gap: 0.5vw;
}
.p-login__panel__heading > p {
  font-size: max(12px, 0.878vw);
  font-weight: 600;
}
.p-login__panel__heading h1 {
  font-family: "Roboto", sans-serif;
  font-size: max(50px, 3.66vw);
  font-weight: 500;
  line-height: 1;
}
.p-login__panel form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1vw;
  padding-top: 2vw;
}
.p-login__panel form label {
  display: flex;
  flex-direction: column;
  padding: 0.5vw 0.8vw;
  border-radius: 0.5vw;
  border: solid 1px var(--color-1);
  width: 100%;
}
.p-login__panel form label > span {
  font-size: max(10px, 0.732vw);
  opacity: 0.6;
}
.p-login__panel form label input {
  font-size: max(16px, 1.17vw);
  background-color: transparent;
}
.p-login__panel form label .password-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1vw;
}
.p-login__panel form label .password-wrap input {
  width: -webkit-fill-available;
  width: -moz-available;
  width: fill-available;
}
.p-login__panel form button {
  padding: 1vw;
  border: solid 1px var(--color-3);
  border-radius: 0.5vw;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease;
}
@media (hover: hover) {
  .p-login__panel form button:hover {
    background-color: var(--color-3);
    color: #fff;
  }
}
.p-login__panel .error {
  color: red;
  font-size: max(12px, 0.878vw);
  padding-top: 1vw;
}