:root {
  --color-1:rgb(210, 210, 210);
  --color-2:rgb(246, 246, 246);
  --color-3:rgb(30, 30, 30);
}

body {
  font-family: "Noto Sans JP", sans-serif;
  font-feature-settings: "palt";
  letter-spacing: 0.03em;
  line-height: 1.3;
}

:-webkit-autofill {
  box-shadow: 0 0 0px 1000px white inset;
}

input,
textarea,
select {
  background-color: var(--color-2);
}

textarea {
  resize: vertical;
  field-sizing: content;
}

select {
  cursor: pointer;
}

input::-webkit-calendar-picker-indicator {
  cursor: pointer;
}

.editable + .error-message,
.editable-checkbox + .error-message {
  color: red;
}

.editable-checkbox {
  display: flex;
  flex-wrap: wrap;
}

.loading-spinner {
  margin-left: 0.5vw;
  display: inline-block;
  vertical-align: middle;
  width: 1vw;
  height: -moz-fit-content;
  height: fit-content;
  aspect-ratio: 1/1;
  border-radius: 50%;
  border: solid 1px var(--color-1);
  border-top-color: var(--color-3);
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.custom-alert {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999999999;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.137);
  display: flex;
  justify-content: center;
  align-items: center;
}
.custom-alert__inner {
  padding: 2vw;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 2vw;
  animation: fadeIn 0.3s ease;
  background-color: #fff;
  border-radius: 0.5vw;
}
.custom-alert__inner > p {
  font-weight: bold;
}
.custom-alert__inner > p.success {
  color: #178731;
}
.custom-alert__inner > p.error {
  color: #9f1825;
}
.custom-alert__inner > button {
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.5vw 1vw !important;
  border-radius: 0.3vw !important;
  background-color: var(--color-3);
  border: solid 1px var(--color-3);
  color: #fff;
  transition: 0.3s ease;
}
@media (hover: hover) {
  .custom-alert__inner > button:hover {
    background-color: #fff !important;
    color: var(--color-3) !important;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-1vw);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.u-ff--en, .p-login__panel__heading h1 {
  font-family: "Roboto", sans-serif;
}

.u-fz--3xs, .p-matter__center__record-list__item__main__heading__left__texts__name > p:nth-of-type(1), .editable + .error-message,
.editable-checkbox + .error-message {
  font-size: max(8px, 0.585vw);
}

.u-fz--2xs, .p-login__panel form label > span, .p-matter__center__record-list__item__main__contents__right__number > p, .p-matter__center__record-list__item__main__contents__right__info table tr td, .p-matter__center__record-list__item__main__contents__left__tab__panel > table tr td button, .p-matter__center__record-list__item__main__contents__left__tab__btn li, .p-matter__center__record-list__item__main__heading__right__status__item > span {
  font-size: max(10px, 0.732vw);
}

.u-fz--xs, .p-login__panel .error, .p-login__panel__heading > p, .p-matter__center__record-list__item__main__contents__left__tab__panel > table tr td, .p-matter__center__record-list__item__main__heading__right__status__item, .p-matter__center__record-list__item__main__heading__left__texts__number > p, .p-matter__right form .select-wrap > p, .custom-alert__inner > button {
  font-size: max(12px, 0.878vw);
}

.u-fz--sm, .p-matter__right form, .p-matter__left > p, .custom-alert__inner > p {
  font-size: max(14px, 1.025vw);
}

.u-fz--base, .p-login__panel form label input, .p-matter__center__record-list__item__main__heading__left__texts__name > p:nth-of-type(2) {
  font-size: max(16px, 1.17vw);
}

.u-fz--xl {
  font-size: max(20px, 1.46vw);
}

.u-fz--2xl {
  font-size: max(25px, 1.84vw);
}

.u-fz--3xl {
  font-size: max(30px, 2.2vw);
}

.u-fz--4xl {
  font-size: max(40px, 2.93vw);
}

.u-fz--5xl, .p-login__panel__heading h1 {
  font-size: max(50px, 3.66vw);
}

.p-matter {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}
.p-matter__left, .p-matter__right {
  padding: 2vw;
  position: sticky;
  top: 0;
  height: 100vh;
}
.p-matter__right form .select-wrap {
  display: flex;
  align-items: flex-end;
  gap: 1vw;
  padding-bottom: 0.5vw;
}
.p-matter__right form .select-wrap select {
  padding: 0.2vw 1vw;
  background-color: rgb(240, 240, 240);
  border-radius: 0.3vw;
}
.p-matter__right form .input-wrap {
  display: flex;
  gap: 0.2vw;
  padding: 0.5vw 1vw;
  border: solid 1px rgb(177, 177, 177);
  border-radius: 100vw;
}
.p-matter__right form .input-wrap img {
  opacity: 0.5;
  width: 1.1vw;
}
.p-matter__center {
  border-right: solid 1px rgb(228, 228, 228);
  border-left: solid 1px rgb(228, 228, 228);
}
.p-matter__center__record-list__item {
  padding: 1.5vw;
  border-bottom: solid 1px rgb(228, 228, 228);
}
.p-matter__center__record-list__item__main {
  width: 100%;
}
.p-matter__center__record-list__item__main__heading {
  display: flex;
  justify-content: space-between;
  gap: 1vw;
}
.p-matter__center__record-list__item__main__heading__left {
  flex-shrink: 0;
  display: flex;
  gap: 1vw;
}
.p-matter__center__record-list__item__main__heading__left > span {
  width: 4vw;
  height: -moz-fit-content;
  height: fit-content;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: rgb(235, 235, 235);
  display: flex;
  justify-content: center;
  align-items: center;
}
.p-matter__center__record-list__item__main__heading__left > span img {
  width: 30%;
}
.p-matter__center__record-list__item__main__heading__left__texts__name > p:nth-of-type(2) {
  font-weight: 600;
  line-height: 1;
}
.p-matter__center__record-list__item__main__heading__left__texts__number {
  padding-top: 0.5vw;
}
.p-matter__center__record-list__item__main__heading__right__status {
  display: flex;
  gap: 1vw;
}
.p-matter__center__record-list__item__main__heading__right__status__item {
  display: flex;
  display: flex;
  flex-direction: column;
}
.p-matter__center__record-list__item__main__heading__right__status__item > span {
  opacity: 0.5;
}
.p-matter__center__record-list__item__main__contents {
  padding-top: 1.5vw;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 2vw;
}
.p-matter__center__record-list__item__main__contents__left {
  border-right: solid 1px rgb(228, 228, 228);
  padding-right: 1.5vw;
  width: 100%;
}
.p-matter__center__record-list__item__main__contents__left__tab__btn {
  display: flex;
  flex-wrap: wrap;
  gap: 0.3vw;
}
.p-matter__center__record-list__item__main__contents__left__tab__btn li {
  font-weight: 500;
  padding: 0.2vw 1vw;
  border: solid 1px var(--color-1);
  border-radius: 100vw;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
}
.p-matter__center__record-list__item__main__contents__left__tab__btn li.is-active {
  border-color: var(--color-3);
}
.p-matter__center__record-list__item__main__contents__left__tab__panel > table {
  margin-top: 1vw;
  table-layout: fixed;
  width: 100%;
  display: none;
}
.p-matter__center__record-list__item__main__contents__left__tab__panel > table.is-active {
  display: table;
}
.p-matter__center__record-list__item__main__contents__left__tab__panel > table tr td {
  width: -webkit-fill-available;
  width: -moz-available;
  width: fill-available;
  padding: 1vw 0 1vw 1vw;
  border-bottom: solid 1px rgb(240, 240, 240);
}
.p-matter__center__record-list__item__main__contents__left__tab__panel > table tr td:first-child {
  width: 22%;
  padding-right: 1vw;
  padding-left: 0;
}
.p-matter__center__record-list__item__main__contents__left__tab__panel > table tr td > table tr:first-child td {
  padding-top: 0;
}
.p-matter__center__record-list__item__main__contents__left__tab__panel > table tr td > table tr:last-child td {
  padding-bottom: 0;
  border-bottom: none;
}
.p-matter__center__record-list__item__main__contents__left__tab__panel > table tr td input,
.p-matter__center__record-list__item__main__contents__left__tab__panel > table tr td textarea,
.p-matter__center__record-list__item__main__contents__left__tab__panel > table tr td select {
  padding: 0 0.3vw;
  min-width: 37%;
}
.p-matter__center__record-list__item__main__contents__left__tab__panel > table tr td textarea {
  width: -webkit-fill-available;
  width: -moz-available;
  width: fill-available;
  min-height: 2.5vw;
}
.p-matter__center__record-list__item__main__contents__left__tab__panel > table tr td button {
  padding: 0.3vw 1vw;
  border-radius: 100vw;
  border: solid 1px var(--color-3);
  transition: 0.3s ease;
}
@media (hover: hover) {
  .p-matter__center__record-list__item__main__contents__left__tab__panel > table tr td button:hover {
    background-color: var(--color-3);
    color: #fff;
  }
}
.p-matter__center__record-list__item__main__contents__right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 3vw;
}
.p-matter__center__record-list__item__main__contents__right__info table {
  flex-shrink: 0;
  height: -moz-fit-content;
  height: fit-content;
  table-layout: fixed;
  width: 100%;
}
.p-matter__center__record-list__item__main__contents__right__info table:not(:first-child) {
  margin-top: 2vw;
}
.p-matter__center__record-list__item__main__contents__right__info table tr td {
  line-height: 1.3;
  word-break: break-word;
  padding-bottom: 0.3vw;
}
.p-matter__center__record-list__item__main__contents__right__info table tr td:first-child {
  width: 35%;
  padding-right: 1vw;
}
.p-matter__center__record-list__item__main__contents__right__info table tr td input,
.p-matter__center__record-list__item__main__contents__right__info table tr td select,
.p-matter__center__record-list__item__main__contents__right__info table tr td textarea {
  display: flex;
  width: 100%;
  padding: 0 0.2vw;
}
.p-matter__center__record-list__item__main__contents__right__info table tr td textarea {
  min-height: 2vw;
}
.p-matter__center__record-list__item__main__contents__right__info table tr td .editable-checkbox {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 0.2vw;
}
.p-matter__center__record-list__item__main__contents__right__info table tr td .editable-checkbox label {
  display: flex;
  gap: 0.2vw;
}
.p-matter__center__record-list__item__main__contents__right__info table tr td .editable-checkbox label input {
  width: -moz-fit-content;
  width: fit-content;
}
.p-matter__center__record-list__item__main__contents__right__number > p {
  opacity: 0.6;
}
.p-matter__center .loading {
  width: 100%;
  padding: 5vw;
  text-align: center;
}

.p-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: sans-serif;
}
.p-login__panel {
  padding: 4vw 3vw;
  border-radius: 2vw;
  border: solid 1px var(--color-1);
  width: 30vw;
  min-width: 400px;
}
.p-login__panel__heading {
  display: flex;
  flex-direction: column;
  gap: 0.5vw;
}
.p-login__panel__heading > p {
  font-weight: 600;
}
.p-login__panel__heading h1 {
  font-weight: 500;
  line-height: 1;
}
.p-login__panel form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1vw;
  padding-top: 2vw;
}
.p-login__panel form label {
  display: flex;
  flex-direction: column;
  padding: 0.5vw 0.8vw;
  border-radius: 0.5vw;
  border: solid 1px var(--color-1);
  width: 100%;
}
.p-login__panel form label > span {
  opacity: 0.6;
}
.p-login__panel form label .password-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1vw;
}
.p-login__panel form label .password-wrap input {
  width: -webkit-fill-available;
  width: -moz-available;
  width: fill-available;
}
.p-login__panel form button {
  padding: 1vw;
  border: solid 1px var(--color-3);
  border-radius: 0.5vw;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease;
}
@media (hover: hover) {
  .p-login__panel form button:hover {
    background-color: var(--color-3);
    color: #fff;
  }
}
.p-login__panel .error {
  color: red;
  padding-top: 1vw;
}