.p-matter{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;


    &__left,
    &__right{
        padding: 2vw;
        position: sticky;
        top: 0;
        height: 100vh;
    }

    &__left{

        > p{
            @extend .u-fz--sm;
        }
    }

    &__right{

        form{
            @extend .u-fz--sm;

            .select-wrap{
                display: flex;
                align-items: flex-end;
                gap: 1vw;
                padding-bottom: .5vw;

                > p{
                    @extend .u-fz--xs;
                }

                select{
                    padding: .2vw 1vw;
                    background-color: rgb(240, 240, 240);
                    border-radius: .3vw;
                }
            }
            
            .input-wrap{
                display: flex;
                gap: .2vw;
                padding: .5vw 1vw;
                border: solid 1px rgb(177, 177, 177);
                border-radius: 100vw;

                img{
                    opacity: .5;
                    width: 1.1vw;
                }
            }
        }
    }

    &__center{
        border-right: solid 1px rgb(228, 228, 228);
        border-left: solid 1px rgb(228, 228, 228);

        &__record-list{

            &__item{
                padding: 1.5vw;
                border-bottom: solid 1px rgb(228, 228, 228);

                &__main{
                    width: 100%;

                    &__heading{
                        display: flex;
                        justify-content: space-between;
                        gap: 1vw;
                        
                        &__left{
                            flex-shrink: 0;
                            display: flex;
                            gap: 1vw;

                            > span{
                                width: 4vw;
                                height: fit-content;
                                aspect-ratio: 1/1;
                                border-radius: 50%;
                                background-color: rgb(235, 235, 235);
                                display: flex;
                                justify-content: center;
                                align-items: center;
            
                                img{
                                    width: 30%;
                                }
                            }

                            &__texts{
                                &__name{

                                    > p{
                                
                                        &:nth-of-type(1){
                                            @extend .u-fz--3xs;
                                        }
        
                                        &:nth-of-type(2){
                                            @extend .u-fz--base;
                                            font-weight: 600;
                                            line-height: 1;
                                        }
                                    }
                                }
    
                                &__number{
                                    padding-top: .5vw;
    
                                    > p{
                                        @extend .u-fz--xs;
                                    }
                                }
                            }
                        }

                        &__right{

                            &__status{
                                display: flex;
                                gap: 1vw;
    
                                &__item{
                                    display: flex;
                                    @extend .u-fz--xs;
                                    display: flex;
                                    flex-direction: column;
    
                                    > span{
                                        opacity: .5;
                                        @extend .u-fz--2xs
                                    }
                                }
                            }
                        }
                    }

                    &__contents{
                        padding-top: 1.5vw;
                        display: grid;
                        grid-template-columns: 2fr 1fr;
                        gap: 2vw;

                        &__left{
                            border-right: solid 1px rgb(228, 228, 228);
                            padding-right: 1vw;
                            width: 100%;

                            &__tab{

                                &__btn{
                                    display: flex;
                                    flex-wrap: wrap;
                                    gap: .5vw;

                                    li{
                                        @extend .u-fz--2xs;
                                        font-weight: 500;
                                        padding: .2vw 1vw;
                                        border: solid 1px var(--color-1);
                                        border-radius: 100vw;
                                        width: fit-content;
                                        cursor: pointer;

                                        &.is-active{
                                            border-color: var(--color-3);
                                        }
                                    }
                                }

                                &__panel{

                                    table{
                                        margin-top: 1vw;
                                        table-layout: fixed;
                                        width: 100%;
                                        display: none;

                                        &.is-active{
                                            display: table;
                                        }
    
                                        tr{
                                    
                                            td{
                                                @extend .u-fz--xs;
                                                padding-bottom: .3vw;
    
                                                &:first-child{
                                                    width: 22%;
                                                    padding-right: 1vw;
                                                }

                                                input,
                                                textarea,
                                                select{
                                                    background-color:var(--color-2);
                                                    padding: 0 .3vw;
                                                }

                                                button{
                                                    padding: .3vw 1vw;
                                                    border-radius: 100vw;
                                                    border: solid 1px var(--color-3);
                                                    @extend .u-fz--2xs;

                                                    @media (hover: hover) {
                                                        &:hover {
                                                            background-color: var(--color-3);
                                                            color: #fff;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        &__right{
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;

                            &__info{
                                
                                table{
                                    flex-shrink: 0;
                                    height: fit-content;
                                    table-layout: fixed;
                                    width: 100%;

                                    &:not(:first-child){
                                        margin-top: 2vw;
                                    }
        
                                    tr{
                                        
                                        td{
                                            @extend .u-fz--2xs;
                                            line-height: 1.3;
                                            word-break: break-word;
                                            vertical-align: baseline;
                                            padding-bottom: .2vw;
        
                                            &:first-child{
                                                width: 35%;
                                                padding-right: 1vw;
                                            }
    
                                            input,
                                            select,
                                            textarea{
                                                display: flex;
                                                width: 100%;
                                                background-color: var(--color-2);
                                                padding: 0 .2vw;
                                            }

                                            textarea{
                                                min-height: 2vw;
                                            }

                                            .editable-checkbox{
                                                display: flex;
                                                flex-wrap: wrap;
                                                padding-bottom: .2vw;

                                                label{
                                                    display: flex;
                                                    gap: .2vw;

                                                    input{
                                                        width: fit-content;
                                                    }
                                                }
                                            }

                                        }
                                    }
                                }
                            }


                            &__number{
                                
                                > p{
                                    @extend .u-fz--2xs;
                                    opacity: .6;
                                }
                            }
                        }
                    }
                }
            }
        }

        .loading{
            width: 100%;
            padding: 5vw;
            text-align: center;
        }
    }
}